@import "/../../img/iphone.svg";

#Projects::before {
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 100vw 100px 85px;
  border-color: transparent transparent #DDA77B transparent;
  background: #945D5E;
  -webkit-transform:rotate(360deg)
  /* ^improves anti-aliasing */;
}

#Projects {
  background: #DDA77B;
  height: auto;
  text-align: left;
  color: #37123C;
  font-family: 'Raleway', sans-serif;
}

.Projects-header {
  font-size: 7vmin;
  font-family: 'Londrina Shadow', cursive;
  margin: 10px;
}

.Projects-text {
  font-size: 2em;
}

.Projects-thumbnail {
  height: auto;
  width: 300px;
  margin: 25px auto;
}

@media only screen and (min-width: 768px) {

  .Projects-header {
    padding: 0 0 0 50px;
    margin: 10px 0;
  }

  .Projects-text {
    padding: 5px 50px;
    margin: 10px 0;
  }
}

.projectSandboxWrapper {
  color: white;
  background: url("../../img/iphone.svg") no-repeat;
  -webkit-background-size: contain;
  -moz-background-size: contain;
  -o-background-size: contain;
  background-size: contain;
  height: 600px;
  width: auto;
  margin: 35px;
}

.projectSandbox {
  -webkit-transform: scale(0.76);
  -webkit-transform-origin: 0 0;
  position: absolute;
  top: 92px;
  left: 65px;
  width: 405px;
  height: 618px;
  border: none;
}
