#Home {
  background: #71677C;
  min-height: 95vh;
  text-align: left;
  color: #DDA77B;
  padding: 80px 25px 10px 25px;
  overflow-y: visible;
}

.mobile-Hero-text {
  font-size: 1.5em;
  font-family: 'Raleway', sans-serif;
  padding-top: 10px;
  z-index: 10;
  position: relative;
}

@media only screen
and (min-device-width: 320px)
and (max-device-width: 374px) {
  .mobile-Hero-illustration {
    margin-top: -20px;
  }

  .mobile-Hero-text {
    font-size: 1.25em;
    font-family: 'Raleway', sans-serif;
    margin: 0 -10px;
    z-index: 10;
    position: relative;
  }
}

.Hero-text {
  font-size: 2em;
  font-family: 'Raleway', sans-serif;
}

.Hero-illustration {
  padding: 10px 25px;
}

.twirl:hover {
  cursor: hand;
}
