body {
  margin: 0;
  padding: 0;
}

a, a:hover, a:focus {
  text-decoration: none;
  color: #42BA97;
  cursor: pointer;
}

a {
  color: #5CEDAE;
}

.container-fluid {
  width: 100%;
  overflow: hidden;
  background: #37123C;
}

@media only screen and (min-width: 768px) {
  .img-responsive {
    min-height: 48vh;
    margin: auto;
  }
}

@media only screen and (min-height: 1600px) {
  
}