body {
  margin: 0;
  padding: 0;
}

a, a:hover, a:focus {
  text-decoration: none;
  color: #5CEDAE;
  cursor: pointer;
}

a {
  color: #42BA97;
}

.container-fluid {
  width: 100%;
  overflow: hidden;
  background: #37123C;
}
