/* triangle! */
#About::before {
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 85px 85px 95vw;
  border-color: transparent transparent #945D5E transparent;
  background: #71677C;
  -webkit-transform:rotate(360deg)
  /* ^improves anti-aliasing */
}

#About {
  padding-bottom: 25px;
  background: #945D5E;
  height: auto;
  text-align: left;
  color: #A99F96;
}

.About-header {
  font-size: 7vmin;
  font-family: 'Londrina Shadow', cursive;
  margin-left: 10px;
}

.About-text {
  font-size: 1.5em;
  font-family: 'Raleway', sans-serif;
  line-height: 1.25em;
  padding: 10px;
  margin: 0px;
}

@media only screen and (min-width: 768px) {

  .About-header {
    padding: 0 0 0 50px;
  }

  .About-text {
    padding: 5px 50px;
    margin: 10px;
  }
}

/*  iPhone <= 5 fix (the IE of devices...)  */
@media only screen
and (min-device-width: 320px)
and (max-device-width: 374px) {

  .About-text {
    font-size: 1.25em;
    font-family: 'Raleway', sans-serif;
    z-index: 10;
    position: relative;
    line-height: 1.25em;
  }
}

.mobile-illustration {
  z-index: 10;
  position: relative;
  margin: 15px;
}
