.navbar-default {
  border: none;
  background: #FAEBD7;
  height: 75px;
}

.navbar-default .navbar-brand {
  color: #42BA97;
  font-family: 'Londrina Shadow', cursive;
  font-size: 7vmin;
  margin: 10px 0px 0px 10px;
  transition: color .3s ease-in-out;
}

@media only screen and (min-width: 992px) {
  .navbar-right {
    position: absolute;
    right: 0;
    margin-right: 50px;
  }

  .navbar-default .navbar-brand {
    position: absolute;
    top: 0;
    left: 0;
    padding: 15px 75px;
    margin-right: -10px;
    font-size: 3.5em;
  }
}

/*  tablet fix  */
@media only screen
and (min-width: 500px)
and (max-width: 1024px) {

  .navbar-default .navbar-brand {
    font-size: 2.5em;
  }
}

.navbar-default .navbar-nav > li > a {
  color: #42BA97;
  font-family: 'Raleway', sans-serif;
  margin: 10px;
  transition: color .3s ease-in-out;
}

.navbar-default .navbar-brand:hover,
.navbar-default .navbar-nav > li > a:hover {
  color: #5CEDAE;
}

.navbar-default .navbar-toggle,
.navbar-default .navbar-toggle:focus,
.navbar-default .navbar-toggle:hover {
  background: none;
  border: none;
  margin: 20px 20px 0px 0px;
}

.navbar-default .navbar-toggle .icon-bar {
  background: #42BA97;
}

.navbar-fixed-top .navbar-collapse {
  text-align: center;
  font-size: larger;
  max-height: none;
  border: none;
  background: #FAEBD7;
}

@media only screen and (min-height: 1600px) {
  .navbar-default {
    height: 12em;
  }
  
  .navbar-default .navbar-brand {
    font-size: 8em;
    margin: .5em 10px;
  }
  
  .navbar-default .navbar-nav > li > a {
    margin: .75em;
    padding: 1em;
  }
  
  .navbar-fixed-top .navbar-collapse {
    font-size: 3em;
  }
}
