#Contact::before {
  margin: 0 auto;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 100px 50vw 0 50vw;
  border-color: #DDA77B transparent transparent transparent;
  -webkit-transform:rotate(360deg)
  /* ^improves anti-aliasing */
}

footer {
  color: #DDA77B;
  vertical-align: middle;
  text-align: center;
  padding: 30px 0;
}

.Contact-text {
  margin: 15px;
  font-size: 1.25em;
  max-width: 450px;
}


/*  iPhone <= 5 fix (the IE of devices...)  */
@media only screen
and (min-device-width: 320px)
and (max-device-width: 374px) {

  .Contact-text {
    font-size: 1em;
  }
}

.icon-wrapper {
  text-align: center;
  margin: 25px auto;
}

@media only screen and (min-width: 768px) {

  .Contact-text {
    margin: 15px auto;
  }

  .icon-wrapper {
    padding-left: 15px;
  }
}

.icon {
  display: inline;
  margin: 0px 5px;
  transition: 500ms ease-in-out;
}

.glyphicon-heart {
  color: #945D5E;
  padding: 0 8px;
}
